-e git+http://git.direct-netware.de/pas/file_store/#egg=pas_file_store
-e git+http://git.direct-netware.de/pas/http/core/#egg=pas_http_core
-e git+http://git.direct-netware.de/pas/imaging/#egg=pas_imaging
-e git+http://git.direct-netware.de/pas/media/#egg=pas_media
-e git+http://git.direct-netware.de/pas/server/#egg=pas_server
-e git+http://git.direct-netware.de/pas/tasks/#egg=pas_tasks
-e git+http://git.direct-netware.de/pas/udpne/#egg=pas_udpne