-e git+http://git.direct-netware.de/pas/http/core/#egg=pas_http_core
-e git+http://git.direct-netware.de/pas/server/#egg=pas_server
-e git+http://git.direct-netware.de/pas/timed_tasks/#egg=pas_timed_tasks
-e git+http://git.direct-netware.de/pas/udpne/#egg=pas_udpne